{% extends 'booklists/layouts/app.html' %}

{% load i18n %}
{% load static %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'booklists:index' %}">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">User</li>
            <li class="breadcrumb-item" aria-current="page"><a href="#">NOLINK {{ username }}</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'booklists:lists_index' username %}">Lists</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ current_list.name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block body_block %}

    <div class="card-header">
        {{ current_list.name }}
        {% if not current_list.is_public %}
            <span class="badge badge-secondary">Private</span>
        {% endif %}
        <div class="float-right">
            <a class="btn btn-warning btn-sm" href="{% url 'booklists:lists_edit' username current_list.slug %}" role="button">{% translate 'Edit' %}</a>
            <a class="btn btn-danger btn-sm" href="#" role="button">{% translate 'Delete' %}</a>
        </div>
    </div>

    <div class="card-body">

        {% if added  %}
            <div class="alert alert-success"><strong>{% translate 'Success' %}!</strong> {% translate 'Added the book' %}!</div>
        {% endif %}
        {% if deleted  %}
            <div class="alert alert-danger"><strong>{% translate 'Success' %}!</strong> {% translate 'Deleted the book' %}!</div>
        {% endif %}

        <!-- NEEDED FOR RATING -->
        {% csrf_token %}
        {% if books %}
            {% for book in books %}
                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-9">
                                    <h3><a href="{% url 'booklists:show_book' book.slug %}">{{ book.name }}</a></h3>

                                <p>
                                    <i>
                                        {% translate 'By' %} -
                                        {% for author in book.authors.all %}
                                            <a href="{% url 'booklists:author_show' author.slug %}">{{ author.name }}</a>,
                                        {% endfor %}
                                    </i>
                                </p>
                                <p>
                                    {% translate 'Genre' %} -
                                    {{ book.genre.all|join:", " }}
                                </p>
                                </div>
                                <div class="col-md-3 text-center">
                                    {% include 'booklists/partials/rating.html' %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="float-right">
                                        <div class="dropdown show d-inline">
                                            <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
                                               id="dropdownAddToList" data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                {% translate 'Add to...' %}
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownAddToList">
                                                {% for list in lists %}
                                                    {% if list != current_list %}
                                                        <a class="dropdown-item" href="{% url 'booklists:add_book' username list.slug book.slug %}">{{ list.name }}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <a href="{% url 'booklists:book_delete_from_list' username current_list.slug book.slug %}" class="btn btn-danger btn-sm">{% translate 'Remove from list' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% translate 'No books in this list! Seach for and add them!' %}
        {% endif %}
    </div>

{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/rating-stars.js'%}"></script>
{% endblock %}