{% extends 'booklists/layouts/app.html' %}

{% load i18n %}

{% block body_block %}

    <div class="card-header">
        {% translate 'My Lists' %}
        <a class="btn btn-success btn-sm float-right" href="#" role="button">{% translate 'Add List' %}</a>
    </div>

    <div class="card-body">
        <div class="alert alert-success"><strong>{% translate 'Success' %}!</strong> {% translate 'A new list created: ' %} <i>Classic Books</i></div>

        <table class="table table-striped table-bordered text-center">
            <thead>
            <tr>
                <th class="col-sm-1">#</th>
                <th class="col-sm-7">{% translate 'Name Of The List' %}</th>
                <th class="col-sm-4"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="col-sm-1">1</th>
                <td class="col-sm-7">Classic Books</td>
                <td class="col-sm-4">
                    <a class="btn btn-primary btn-sm" href="#" role="button">{% translate 'View' %}</a>
                    <a class="btn btn-warning btn-sm" href="#" role="button">{% translate 'Edit' %}</a>
                    <a class="btn btn-danger btn-sm" href="#" role="button">{% translate 'Delete' %}</a>
                </td>
            </tr>
            <tr>
                <th class="col-sm-1">2</th>
                <td class="col-sm-7">Disliked Books</td>
                <td class="col-sm-4">
                    <a class="btn btn-primary btn-sm" href="#" role="button">{% translate 'View' %}</a>
                    <a class="btn btn-warning btn-sm" href="#" role="button">{% translate 'Edit' %}</a>
                    <a class="btn btn-danger btn-sm" href="#" role="button">{% translate 'Delete' %}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}