{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'booklists:index' %}">BookLists</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBooklists" aria-controls="navbarBooklists" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarBooklists">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mr-5">
                {% if request_user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'booklists:lists_index' request_user.username %}">{% translate 'My Lists' %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booklists:lists_create' request_user.username %}">{% translate 'Create List' %}</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                <form class="d-flex" action="{% url 'booklists:search' %}">
                    <div class="input-group">
                        <input type="text" class="form-control rounded-0" placeholder="Search" aria-label="Search" aria-describedby="search-button" name="search">
                        <button class="btn btn-outline-light rounded-0" type="submit" id="search-button">Search</button>
                    </div>
                </form>
            </ul>

            <ul class="navbar-nav justify-content-end ml-auto">
                {% if request_user.is_authenticated %}

                    {% if request_user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">{% translate 'Admin' %}</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booklists:logout' %}">{% translate 'Log Out' %}</a>
                    </li>

                {% else %}
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'booklists:login' %}">{% translate 'Log in' %}</a>
                     </li>

                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'booklists:register' %}">{% translate 'Register' %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>