{% extends 'booklists/layouts/auth.html' %}

{% load i18n %}

{% block body_block %}

    <form class="form-signin" method="post">
        {% csrf_token %}

        {% include 'booklists/partials/auth-message.html'%}

        <div class="form-group">
            <strong><label for="inputUsername">{% translate 'Username' %}</label></strong>
            <input type="username" id="inputUsername" class="form-control" placeholder="{% translate 'Enter username' %}" required autofocus
                   name="username">
        </div>

        <div class="form-group">
            <strong><label for="inputPassword">{% translate 'Password' %}</label></strong>
            <input type="password" id="inputPassword" class="form-control" placeholder="{% translate 'Enter password' %}" required name="password">
        </div>

        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% translate 'Sign in' %}</button>
        </div>

        <div class="text-center">
            {% comment %} Asked in login page {% endcomment %}
            {% translate 'New here' %}? <a href="{% url 'booklists:register' %}">{% translate 'Create an account!' %}!</a>
        </div>

    </form>

{% endblock %}