{% extends 'booklists/layouts/auth.html' %}

{% load i18n %}

{% block body_block %}

    <form class="form-register" method="post" id="user_form" enctype="multipart/form-data">
        {% csrf_token %}

        {% include 'booklists/partials/auth-message.html'%}

        <div class="form-group">
            <strong><label for="inputEmail">{% translate 'Email address' %}</label></strong>
            <input type="email" id="inputEmail" class="form-control" placeholder="{% translate 'Enter email address' %}" required autofocus
                   name="email">
        </div>

        <div class="form-group">
            <strong><label for="inputPassword">{% translate 'Password' %}</label></strong>
            <input type="password" id="inputPassword" class="form-control" placeholder="{% translate 'Enter password' %}" required name="password">
        </div>

        <div class="form-group">
            <strong><label for="inputPasswordConfirmation">{% translate 'Password confirmation' %}</label></strong>
            <input type="password" id="inputPasswordConfirmation" class="form-control" placeholder="{% translate 'Enter password confirmation' %}" required name="password_confirmation">
        </div>

        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% translate 'Register' %}</button>
        </div>

        <div class="text-center">
            {% comment %} Asked in register page {% endcomment %}
            {% translate 'Already have an account' %}? <a href="{% url 'booklists:user_login' %}">{% translate 'Sign in' %}!</a>
        </div>

    </form>

{% endblock %}